langchain
langchain-community
langchain-huggingface
langchain-pinecone
langchain-groq
langchain-core
crawl4ai
playwright
selenium 
beautifulsoup4
nest_asyncio
transformers
sentence-transformers
huggingface-hub
tokenizers
accelerate
pinecone
unstructured
pypdf
tiktoken
pandas
numpy
python-dotenv

